<strong> <%= @current_day.to_s(:day_full) %> </strong>
<br />

Coming soon!

<!-- <table>
	<tr>
		<th>
		</th>
		<th></th><th></th><th></th><th></th><th></th><th></th><th></th>
		<th>
		</th>
	</tr>
		<% (1..4).each do %>
			<tr>
				<td>project // issue ||</td>
				<td>developement/design/etc ||</td>
				<td>hours (start/stop) ||</td>
				<td>comment</td>
			</tr>
		<% end %>
	<tr>
		<td>total</td>
		<td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td><%= link_to "add row", :controller => "hours", :action => "index" %></td>
		<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		<td><%= link_to "save", :controller => "hours", :action => "index" %></td>
	</tr>
</table> -->