<h2>Timesheet for <%= @user.firstname+' '+@user.lastname%></h2>

<%= render :partial => "navigation" %>

<br />

<% if @current_day %>
	<%= render :partial => "daily" %>
<% else %>
	<%= render :partial => "weekly" %>
<% end %>